@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
}

body{
    font-family: "Work Sans", sans-serif;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}


main > section{
    margin-top: 130px;
}

/* ======shared style===== */

.flex{
    display: flex;
}

.align-center{
    display: flex;
    align-items: center;
}

.text-center{
    text-align: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.sb{
    display: flex;
    justify-content: space-between;
}

.dark-2{
    color: #424242;

}

.dark-3{
    color: #727272;
}

.primary{
    color: rgb(255, 144, 14);
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

.description{
    color: rgb(114, 114, 114);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

/* ========header======== */




/* =====navbar===== */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    margin-right: 30px;
    padding: 13px;
}

.nav-link{
    font-weight: 500;
    color: #424242;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    
}

.brand{
    font-size: 3rem;
    font-weight: 700;
}

/* banner */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    /* margin-top: 100px; */
    margin-bottom: 1rem;
}

.description{
    color: rgb(114, 114, 114);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.banner-img{
    width: 100%;
}

.banner{
    padding-bottom: 0;
}

/* =========main========= */

/* teams and feature*/

.teams{
    gap: 4.5rem;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.section-title{
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}


/* features */

.feature{
    gap: 140px;
}

.features-content h2{
    padding: 20px;
    border-left:5px solid rgb(255, 144, 14);
    margin-bottom: 1.5rem;
}

.card-title{
   font-size: 1.25rem; 
   font-weight: 600;
   margin-bottom: 10px;
}

.card-container{
    margin-top: 1.8rem;
}

.card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 1.25rem;

}

.feature-img-badge{
    position: relative;
    z-index: -1;
}


#experience-badge{
    position: absolute;
    background-color: #ff900e;
    padding: 45px 42px;
    border-radius: 8px;
    color: white;
    margin-left: -80px;
    margin-top: -100px;
    z-index: 2;
    border: 0;
}

#experience-badge #badge-title{
    font-size: 4rem;
    font-weight: 700;
}

#experience-badge #Experience{
    font-size: 1.5rem;
    font-weight: 500;
}










/* FACTS */

.fact-des{
    max-width: 542px;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin-top: 12rem;
    padding: 0 20px;
}

.fact{
    padding: 46px 36px 60px;
    border: 1px solid #ff900e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.fact-number{
    font-size: 2.75rem;
    font-weight: 600;
    color: rgb(66, 66, 66);
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(114, 114, 114);


}


/* =====sponsors section====== */

.sponsors-img-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 50px;

}

.sponsors-img-container img{
    filter: grayscale(100%);
}


/* =====footer====== */

footer{
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(255, 244, 231);
    padding: 40px;
    margin-bottom: 10rem;
    border-radius: 8px;
    font-size: 20px;
    color: rgb(66, 66, 66);
}


/* ======______responsive media query______====== */

@media (max-width: 576px) {

    ul li{
        font-size: 1rem;
        font-weight: 800;
        text-align: center;
    }


    .navbar, 
    .nav-links, 
    .teams,
    .feature{
        flex-direction: column;
        
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-feature{
        margin: 20px;
        text-align: center;
    }

    .section-title , .description{
        text-align: center;
    }
    
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin-top: 4rem;
    }
    h1, h2{
        font-size: 1.5rem;
    }

    .sponsors-img-container{
        grid-template-columns: repeat(2, 1fr);
        
    }

    .feature-img-badge{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feature-img{
        max-width: 100%;
    }
    
    #experience-badge{
        
        margin-top: 10px;
        margin-left: 0px;
    }
}




/* medium device  */
@media (max-width: 710px) {

    
    .navbar{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .sponsors-img-container{
        grid-template-columns: repeat(2, 1fr);
        
    }

    .figma{
        max-width: 100%;
    }
}

@media (min-width: 577px) and (max-width:992px){
    .teams,
    .feature{
        flex-direction: column;
    }

    .teams-feature{
        margin: 20px;
        text-align: center;
    }

    .team-img-container{
       margin-left: 10px; 
    }

    .section-title , .description{
        text-align: center;
    }

    .feature-img-badge{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feature-img{
        max-width: 100%;
    }
    
    #experience-badge{
        
        margin-top: 10px;
        margin-left: 0px;
    }


    .fact-des{
        margin: 20px auto;
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-top: 4rem;
    }

    .sponsors-img-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;
        
    }

    .figma{
        grid-column-start: 3;
    }
}



/* laptop responsive */

@media (max-width: 1439px) {
    .feature{
        flex-direction: column;
    }

    .sponsors-img-container{
        gap: 10px;
    }
}